hr {
  border: none;
  border-top: 2px dashed gray !important;
  animation: wavy 5s infinite ease-in-out;
  margin: 0 auto;
}

@keyframes wavy {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}